body {
    margin-top: 50px;
}

.footer {
    border-top: 1px solid grey;
    font-size: small;
    margin-top: 50px;
    padding: 25px 0;
    text-align: center;
}

.version {
    text-align: right;
}

.currentcategory {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.sticker {
    display: inline-block;
    width: 94px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.sticker-translucid {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
} 

.shadowdiv {
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.75), -10px 0 10px -5px rgba(0, 0, 0, 0.75);
}

.cursorpointer {
    cursor: pointer;
}

.link-market {
    text-decoration: none;
    position: relative;
}

.span-prices {
    font-size: small;
    position: absolute;
}

.divborder {
    border: 1px solid #333;
}

.divinline {
    display: inline-block;
    padding: 0px;
    margin: 3px;
    border-spacing: 1px;
    border: 1px solid #333;
    border-radius: 10px;
}

.divprice {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
    float: right;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: small;
}

.divcount {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
    float: left;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: small;
}

.albumfieldset {
    display: block;
    margin-bottom: 15px;
    position: relative;
    text-align:center;
}